<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1,minimum-scale=1"
		/>
		<title>资源未找到</title>
		<link
			href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</head>
	<body class="">
		<div class="container">
			<div class="row">
				<div class="mt-5">
					<h1 class="display-1 font-weight-bolder">404</h1>
					<hr />
					<p class="text-muted">你所需要的页面我们未能提供</p>
					<a class="btn btn-outline-secondary" href="/" role="button"
						>回到首页</a
					>
				</div>
			</div>
		</div>
	</body>
</html>
